body, 
html {
	margin: 0 auto;
}

/* font-family: 'Quicksand', sans-serif; */
body { font-family: 'Open Sans', sans-serif; }

header {
	display: inline-block;
	height: auto;
	min-height: 60px;
	width: 100%;
	border-bottom: 3px solid #EA2828;
}

a.nav-item,
a.nav-link,
a.nav-link.active { 
	color: #535C7B; 
	font-weight: 600;
	font-size: 16px;
	transition: .5s ease-in-out;
}

a.nav-link:hover,
a.nav-item:hover,
a.nav-item.active {
	color: #000000; 
}

.banner {
	display: inline-block;
	height: 500px;
}

section.sub-banner {
	display: inline-block;
	height: auto;
	min-height: auto;
	max-height: 300px;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
}

.button-title {
	display: inline-table;
	height: auto;
	width: 900px;
	font-size: 90px;
	font-weight: 600;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-top: 165px;
	color: #FFFFFF;
	border-radius: 10px 10px 0px 0px;
	background-color: #369AF0;
}

section.steps {
	display: inline-block;
	height: auto;
	min-height: 300px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #E1E1E1;
	text-align: center;
}

.step-image {
	display: inline-table;
	height: 250px;
}

ul.step-list li {
	list-style-image: url('../images/bullet.png');
	padding-left: 25px;
	list-style-position: outside;
}

section.contact {
	display: inline-block;
	height: auto;
	min-height: 400px;
	width: 100%;
	background-color: #369AF0;
	font-family: 'Quicksand', sans-serif;
}

input.form-control,
textarea.form-control {
	border: 1px solid #FFFFFF;
	background-color: transparent;
	display: inline-table;
}
input.form-control::placeholder,
textarea.form-control::placeholder {
	color: #FFFFFF;
}

.btn-stretch {
	background-color: #FFFFFF;
	color: #369AF0;
	height: auto;
	width: auto;
	font-weight: 600;
	padding: 12px 150px;
}

.bold { font-weight: 800; }

footer {
	display: inline-block;
	height: auto;
	width: 100%;
	min-height: 300px;
	font-family: 'Open Sans', sans-serif;
}

div.footer-bottom {
	height: auto;
	width: 100%;
	min-height: 50px;
	background-color: #369AF0;
	margin-top: 30px;
	padding-top: 10px;
}

ul.header-phone li {
	display: block;
	font-size: 14px;
	color: #EA2828;
}

.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 2px 0px; 
    border-radius: 15px; 
    font-size: 14px; 
    text-align: center; 
    margin-right: 12px;
    margin-top: 2px;
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 

.nav-item h6 {
	padding-left: 15px;
	font-weight: 600;
}

.nav-item .socialicon { padding-left: 15px; }

@media screen and (max-height: 450px) {
	.header-phone { display: none; }
	.banner {
		display: inline-block;
		height: 200px;
	}
	.button-title {
		display: inline-table;
		height: auto;
		width: 320px;
		font-size: 38px;
		font-weight: 600;
		font-family: 'Quicksand', sans-serif;
		text-align: center;
		text-transform: uppercase;
		margin-top: 50px;
		color: #FFFFFF;
		border-radius: 10px 10px 0px 0px;
		background-color: #369AF0;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header-phone { display: none; }
	.banner {
		display: inline-block;
		height: 250px;
	}
	.btn-stretch {
		background-color: #FFFFFF;
		color: #369AF0;
		height: auto;
		width: auto;
		font-weight: 600;
		padding: 8px 110px;
	}
	.button-title {
		display: inline-table;
		height: auto;
	    width: 330px;
	    font-size: 38px;
		font-weight: 600;
		font-family: 'Quicksand', sans-serif;
		text-align: center;
		text-transform: uppercase;
		margin-top: 60px;
		color: #FFFFFF;
		border-radius: 10px 10px 0px 0px;
		background-color: #369AF0;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}